# General
DATADIR=
TZ=
PUID=1000
PGID=1000

# qBittorrent
## Where you want downloads to be saved
DOWNLOADSDIR=

# Jellyfin
## The root folder where your media is mounted
MEDIADIR=/mnt/media

# Gluetun VPN Client
## All fields are required
## Update the subnet for your network
FIREWALL_OUTBOUND_SUBNETS=192.168.0.0/16
## See a list of providers at:
## https://github.com/qdm12/gluetun/wiki/Environment-variables
VPNSP=
CITY=
WIREGUARD_PRIVATE_KEY=
WIREGUARD_PUBLIC_KEY=
WIREGUARD_PRESHARED_KEY=
WIREGUARD_ADDRESS=
WIREGUARD_ENDPOINT_PORT=
